<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Foodfy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/style.css" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="logoWhite">
                <a href="/"><img src="img/logo.png" alt="Logo da página"></a>
            </div>
        </header>

            <section class="secondary_panel">
                <h2>Receita: Triplo Banco Burger</h2>
                
                <div id="editButton">
                   <a href="#">Editar receita</a>
                </div>
            </section>

            <section class="receita">
            <div class="card" id="{{ item.id }}">
                <div class="card_receita-img">
                    <img src="{{ item.image }}" alt="Imagem de {{ item.title }}">
                </div>

                <div class="card_receita-content">
                    <p class="text_p">{{ item.title }}</p> 
                    <p id="author">{{ item.author }}</p>                 
                </div>

                <div class="card_receita-info">

                    <div class="ingredientes">
                        <div class="title-info">
                               <p class="subtitle">Ingredientes</p> 
                               <a href="" class="button">Esconder</a>
                        </div>
                        
                        <div class="list">
                            <ul>
                                {% for ingredient in item.ingredients %}
                                 <li>{{ingredient}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="modo-preparo">

                        <div class="title-info">
                            <p class="subtitle">Modo de preparo</p>
                            <a href="" class="button">Mostrar</a>
                        </div>
                        

                        <div class="list">

                            
                            <ol>
                                {% for preparation in item.preparation %}
                                    <li>{{preparation}}</li>
                                {% endfor %}
                            </ol>

                            
                        </div>
                    </div>

                    <div class="info-adicionais">
                        <div class="title-info">
                             <p class="subtitle">Informações Adicionais</p>
                             <a href="" class="button">Esconder</a>
                        </div>

                        <p class="paragraf">{{item.information[0]}}</p>
                        <p class="paragraf">{{item.information[1]}}</p>
                       
                    </div>

                </div>
            </div>
    </section>

    </body>
</html>