<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Foodfy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/favicon.ico" type="/image/x-icon">
        <link rel="stylesheet" href="/style.css" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="logoWhite">
                <a href="/"><img src="/img/logo.png" alt="Logo da página"></a>
            </div>

        
        </header>

        {% block content%}
            <div class="container">
                  <h2>Gerenciar chefs</h2>


                <div class="cards-chefs">
                    <div class="container-info">
                        {% for chef in chefs %}
                            <div class="container-card">
                                <img src="{{ chef.avatar_url }}" alt="">
                                <div id="info-card">
                                    <h3>{{ chef.name }}</h3>
                                    <a href="/chefs/chefs/{{ chef.id }}">Visualizar</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

        {% endblock%}
    </body>
</html>
