/* Global */
:root {
    --color--white: white;
    --color--black: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: var(--color--white);
    color: black;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-top: 50px;
}

/* Menu */
.main-menu{
    margin: 50px 300px;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

.main-menu a:hover {
    color: #A9A9A9;
    transition: color 200ms;
}

.main-menu a + a{
    margin-left: 32px;
}

.main-menu a.active {
    font-weight: 600;
}

#logo {
   margin-top: -73px;
   margin-left: 150px;
}

#logoWhite {
    width: 100%;
    padding: 15px;
    background-color: #111;
    box-sizing: border-box;
}

#logoWhite img{
    margin-left: 145px;
    margin-top: 16px;
}

.container-father{
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Background (index) */
#plano-de-fundo {
    width: 1000px;
    height: 366px;
    border-radius: 30px;
    background: #FBDFDB;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#plano-de-fundo h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    padding: 120px 50px;
}

#plano-de-fundo p {
    max-width: 322px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    opacity: 0.7;
    padding: 0;
    margin: -100px 50px;
    
}

#plano-de-fundo img {
    width: 216px;
    height: 300px;
    margin: -95px 650px;
    margin-right: 0;
}

.mostPopularRecipes {
    display: grid;
    grid-template-columns: 1fr 1fr 250px;
    justify-content: space-between;
    align-items: center;
}

.mostPopularCard {
    margin-top: 20px;
}

.image-recipe{
    width: 250px;
    height: 100px;
    
    border-radius: 15px;
}

#informations-card h3 {
    font-size: 18px;
    color: #111;
}

#informations-card p {
    font-size: 14px;
    color: #777;  
}

/* Conteúdo (sobre)*/

.content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #111;
    font-size: 24px;
    line-height: 28px;
    margin-top: 4.6%;
    margin-left: 180px;
    margin-bottom: 20px;
}

.content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #111;
    font-size: 20px;
    line-height: 24px;
    margin-top: 4.6%;
    margin-left: 180px;
    margin-bottom: 20px;  

}

.content p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #444;
    margin-left: 180px;
    max-width: 940px;
    margin-bottom: 50px;
}

/* Footer */
.rodape_final {
    background-color: #eee;
    color: #999;
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: 50px;
}

/* New Card - inforeceitas - section: avatar*/
.card {
    display: grid;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 55px;
    margin-bottom: 20px;
}

.title-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit{
    position: relative;

    margin-top: 55px;
}

.title a {
    text-decoration: none;
    color: white;
   
    background-color: #6558C3;
    padding: 8px 16px;
    border-radius: 4px;

    font-size: 13px;
}

.avatar img {
    width: 965px;
    height: 280px;
    border-radius: 15px;

}

.subtitle {
    text-align: center;
}

.subtitle p {
    font-size: 20px;
    font-weight: 500;
    color: #777;
}

/* New Card - inforeceitas - section: details */
.details {
    padding: 32px;
}

.details .item {
    padding: 16px 0;
}

.details .item div:nth-child(1){
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.7px;
    color: #111;
}

.details .item div:nth-child(2){
    font-size: 18px;
    color: #444;
    line-height: 28px;
}

.item {
    display: grid;
    justify-content: left;
    align-items: center;

    max-width: 900px;
}

.item ul {
    list-style-type: none;
}

/* Formulário */
input,
select {
    width: 965px;
    height: 39px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;

    font-size: 18px;

    color: #777;
}

form .button_submit {
    position: absolute;
    top: 0;
    right: 0;
}

button[type="submit"]{
    background-color: #6558C3;
    padding: 9px 18px;
    border-radius: 4px;
    border: none;

    color: white;

    cursor: pointer;
}

.items {
    display: grid;
    justify-content: center;
    align-items: center;

    padding: 15px 0;
}

.items div:nth-child(1){
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
}

textarea {
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;

    font-size: 18px;
    color: #777;

   resize: none;
}

button[type="button"] {
    color: #6558C3;
    border: none;
    background: none;

    font-weight: 600;
    font-size: 16px;

    cursor: pointer;

}

#delete{
   margin-right: 10px;
   background-color: #DC4747;
   
   right: 140px;

}

.recipes-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.page-title{
    margin-top: 50px;
}

.recipes-admin {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin-top: 20px;
}

.recipe-card{
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    width: 35vw;
}

.images-recipes {
    width: 172px;
    height: 80px;
    border-radius: 8px;
}

#info-card{
    margin-left: 20px;
}

#info-card h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

#info-card p{
    font-size: 14px;
    color: #777;
    line-height: 26px;
}

#info-card a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #6558C3;
}

/* CHEFS */
.chefs {
    display: grid;
    justify-content: center;
    align-items: center;
}

.name_chef {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 55px;
    margin-bottom: 20px;
}

.name_chef a {
    text-decoration: none;
    color: white;
   
    background-color: #6558C3;
    padding: 8px 16px;
    border-radius: 4px;

    font-size: 13px;
}

.chef_image img {
    width: 200px;
    height: 200px;

    border-radius: 100%;
}

.subname_chef {
    margin-top: 30px;
    color: var(--color--black);
    font-size: 24px;
    font-weight: 600;
}

.subname_chef p {
    font-size: 16px;
    color: #777;
    text-align: center;
    font-weight: 500;
}

.createDate{
    display: flex;
    align-items: center;
    justify-content: center;
}

.createDate p {
    font-weight: 600;
    line-height: 38px;
    color: #444;
}

.createDate div:nth-child(2){
    font-size: 14px;
    color: #444;
    line-height: 28px;
    margin-left: 3px;
}

/* CHEFS - LISTAGEM */
.chefs-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.chefs-admin {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin-top: 20px;
}

.chef-card {
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
    width: 17vw;

    align-items: center;
}

.images-chefs {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

/*RECIPES - SHOW */
.recipes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipes-card {
    display: flex;
    flex-wrap: wrap;
    width: 30%;

    margin-bottom: 20px;
}

.title-recipes {
    display: grid;
    justify-content: center;

    margin: 20px;
}






