/* Global */

:root {
    --color--white: white;
    --color--black: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: var(--color--white);
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* Menu */
.main-menu{
    margin: 50px 300px;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

.main-menu a:hover {
    color: #A9A9A9;
    transition: color 200ms;
}

.main-menu a + a{
    margin-left: 32px;
}

.main-menu a.active {
    font-weight: 600;
}

#logo {
   margin-top: -73px;
   margin-left: 150px;
}

#logoWhite {
    width: 100%;
    padding: 15px;
    background-color: #111;
    box-sizing: border-box;
}

#logoWhite img{
    margin-left: 165px;
    margin-top: 16px;
}
/* Background (index) */

#plano-de-fundo {
    width: 1000px;
    height: 366px;
    border-radius: 30px;
    background: #FBDFDB;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#plano-de-fundo h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    padding: 120px 50px;
}

#plano-de-fundo p {
    max-width: 322px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    opacity: 0.7;
    padding: 0;
    margin: -100px 50px;
    
}

#plano-de-fundo img {
    width: 216px;
    height: 300px;
    margin: -95px 650px;
    margin-right: 0;
}

/* Conteúdo (sobre)*/

.content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #111;
    font-size: 24px;
    line-height: 28px;
    margin-top: 4.6%;
    margin-left: 180px;
    margin-bottom: 20px;
}


.content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #111;
    font-size: 20px;
    line-height: 24px;
    margin-top: 4.6%;
    margin-left: 180px;
    margin-bottom: 20px;  

}

.content p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #444;
    margin-left: 180px;
    max-width: 940px;
    margin-bottom: 50px;
}


/* Cards */
.flex-container{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
    flex-wrap: wrap;
    width: 80vw;
}

.flex-item{
    margin-top: 50px;
}

.card_img img {
    width: 300px;
    border-radius: 15px; 

    cursor: pointer;
}

.card_content, .card_info {
    text-align: left;
    line-height: 25px;
}

.card_content{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.card_info{
    color: #777;
    font-size: 14px;
}


/* inforeceitas */

.receita{
   display: flex;
   align-items: center;
   justify-content: center;
}

.card_receita-img img{
    border-radius: 15px;
    width: 940px;
    height: 280px;


    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card_receita-content{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    color: var(--color--black);


    margin-top: 50px;
}

#author{
    font-size: 20px;
    font-weight: 500;
    color: #777;
}

.card_receita-info{
    text-align: left;
    font-size: 20px;
    line-height: 35px;
}

.title-info{
    display: flex;
}

.subtitle{
    margin-top: 50px;
    color: var(--color--black);
    font-size: 24px;
    font-weight: 600;
}

.button{
    font-size: 12px;
    font-weight: 600;
    color: #999;   
    text-decoration: none; 
    margin-top: 52px;
    margin-left: 8px;
}

.button:hover{
    color: #777;
}

.list{
    margin-top: 23px;
    margin-left: 20px;

    max-width: 930px;
}

.list li{
    font-size: 18px;
    color: #444;
    line-height: 28px;
}

.paragraf{
    max-width: 940px;
    font-size: 18px;
    line-height: 28px;
    color: #444;

    margin-top: 20px;
    margin-bottom: 20px;
}


/* Footer */

.rodape_final {
    background-color: #eee;
    color: #999;
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: 50px;
}

/* New Card - inforeceitas - section: avatar*/

.card {
    display: grid;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 55px;
    margin-bottom: 20px;
}

.title-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.edit{
    position: relative;

    margin-top: 55px;
}

.title a {
    text-decoration: none;
    color: white;
   
    background-color: #6558C3;
    padding: 8px 16px;
    border-radius: 4px;

    font-size: 13px;
}

.avatar img {
    width: 965px;
    height: 280px;
    border-radius: 15px;

}

.subtitle {
    text-align: center;
}

.subtitle p {
    font-size: 20px;
    font-weight: 500;
    color: #777;
}

/* New Card - inforeceitas - section: details */

.details {
    padding: 32px;
}

.details .item {
    padding: 16px 0;
}

.details .item div:nth-child(1){
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.7px;
    color: #111;
}

.details .item div:nth-child(2){
    font-size: 18px;
    color: #444;
    line-height: 28px;
}

.item {
    display: grid;
    justify-content: left;
    align-items: center;

    max-width: 900px;
}

.item ul {
    list-style-type: none;
}

/* Formulário */

input {
    width: 965px;
    height: 39px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;

    font-size: 18px;

    color: #777;
}

form .button_submit {
    position: absolute;
    top: 0;
    right: 0;
}

button[type="submit"]{
    background-color: #6558C3;
    padding: 9px 18px;
    border-radius: 4px;
    border: none;

    color: white;

    cursor: pointer;
}


.items {
    display: grid;
    justify-content: center;
    align-items: center;

    padding: 15px 0;
}

.items div:nth-child(1){
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
}

textarea {
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;

    font-size: 18px;
    color: #777;

   resize: none;
}

button[type="button"] {
    color: #6558C3;
    border: none;
    background: none;

    font-weight: 600;
    font-size: 16px;

    cursor: pointer;

}

#delete{
   margin-right: 10px;
   background-color: #DC4747;
   
   right: 140px;

}








