<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Foodfy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/favicon.ico" type="/image/x-icon">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/recipes.css">
    </head>
    <body>
        <div class="content">
            <header>
                <div class="secondMenu">
                    <div id="logoWhite">
                        <a href="/"><img src="/img/logo.png" alt="Logo da página"></a>
                    </div>
                    <div class="linksMenu">
                        <a href="/admin/inforeceitas">Receitas</a>
                        <a href="/admin/chefs">Chefs</a>
                    </div>
                </div>
            </header>

            {% block content%}
                <div class="card">
                    <section class="avatar">
                        <div class="title">
                            <h2>Receita: {{ inforeceita.title }}</h2>
                            <a href="/admin/inforeceitas/{{ inforeceita.id }}/edit">Editar receita</a>
                        </div>
                        
                        <img src="{{ inforeceita.image }}">

                        <div class="subtitle">
                            <h2>{{ inforeceita.title }}</h2>
                            <p>por {{ chef.name }}</p> 
                        </div>
                    </section>

                    <section class="details">
                        <div class="item">
                            <div>Ingredientes</div>
                            <div>
                                <ul>
                                    {% for ingredient in inforeceita.ingredients %}
                                        <li>- {{ ingredient }};</li>
                                    {% endfor %}
                                </ul>
                            </div> 
                        </div>

                        <div class="item">
                            <div>Modo de preparo</div>
                            <div>
                                <ul>
                                    {% for preparation in inforeceita.preparation %}
                                        <li>- {{ preparation }};</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="item">
                            <div>Informações adicionais</div>
                            <div>
                                {% for information in inforeceita.information %}
                                    <p>{{ information }}</p>  
                                {% endfor %}
                            </div>
                        </div>


                        <div class="createDate">
                            <h2>Criado em:</h2>
                            <div>{{ inforeceita.created_at }}</div>
                        </div>
                        
                    </section>
                </div>
            {% endblock%}
        </div>
    </body>
</html>