{% extends "layout.njk" %}

{% block content %}

    <div class="container-father">
        <div id="plano-de-fundo">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p> 
            <img src="img/chefs.png" alt="Um chef de cozinha com uma bandeja, saindo dela uma fumacinha de comida quente em sua mão esquerda. No fundo uma cor rosa claro.">   
        </div>

        <h2>Mais acessadas</h2>
        <section class="mostPopularRecipes">
            {% for inforeceita in inforeceitas %}
                <div class="mostPopularCard">
                    <img src="{{ inforeceita.image }}" class="image-recipe"  alt="">

                    <div id="informations-card">
                        <h3>{{ inforeceita.title }}</h3>
                        <p>por {{ inforeceita.chef_name }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}

